[submodule "upstream"]
	path = upstream
	url = git://git.savannah.gnu.org/automake.git
[submodule "autoconf-archive"]
	path = autoconf-archive
	url = https://github.com/peti/autoconf-archive.git
	branch = master
