[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/automake.git
	branch = master
[submodule "autoconf-archive"]
	path = autoconf-archive
	url = https://github.com/libertine-linux-clones/autoconf-archive.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = true
